.content-movie{
    width: 200px;
    height: 330px;
    float: left;
    margin:20px;
  }

  .imagen-movie{
    float: left;
    width:200px;
    height: 300px;
    background-color:rgba(50,50,50,1);
    /*background: url(https://streamcoimg-a.akamaihd.net/000/160/6/1606-PosterArt-8de75e6dae6678b82aa5093f204931aa.jpg);*/
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .titulo{
    width: 200px;
    height: 30px;
    float: left;
    font-size: 16px;
    text-align: center;
  }